* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- Reusable Styles --------- */
h1,
h2,
h3,
button {
  font-family: 'Roboto', sans-serif;
  ;
}

p,
small,
li,
a,
input:label {
  font-family: 'Open Sans', sans-serif;
}

.highlight {
  font-weight: 700;
  color: #ee5253;
}

.btn.btn-outline-dark {
  width: 150px;
  border-radius: 0;
}

.animated {
  opacity: 0;
  transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
}

button {
  transition: background-color 1s ease-out !important;
}

/* ------------------------------------- */
/* --------------- nav bar ------------- */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  content: none !important;
}

.nav {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
}


/* ------------------------------------- */
/* ------------ Video Display ---------- */
.video-display {
  position: relative;
  min-width: 100%;
  height: 70vh;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#myVideo {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 70vh;
  opacity: 0.5;
  z-index: -1;
}

.video-content {
  z-index: 2;
  color: white;
  position: absolute;
  bottom: 0;
  margin-left: 5rem;
  margin-bottom: 10rem;
}

.video-content h1 {
  font-size: 50px;
}

/* ------------------------------------- */
/* ---------- Landing Showcase --------- */
.image-display img {
  display: none;
  padding-top:4rem;
}

.showcase {
  margin: 6rem;
}

.showcase1 {
  margin-bottom: 6rem;
}

/* content */
.showcase-text {
  margin-right: 2rem;
  position: relative;
}

.showcase-text .cursive {
  margin: 0 0 2rem 0;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

.showcase-text p {
  line-height: 2;
}

/* image */
.showcase-img img {
  max-width: 100%;
}

.showcase2 .showcase-text {
  margin-left: 2rem;
}

/* animation */


.fadeInLeft {
  transform: translateX(-20%) scale(0.95);
  -o-transform: translateX(-20%) scale(0.95);
  -moz-transform: translateX(-20%) scale(0.95);
  -ms-transform: translateX(-20%) scale(0.95);
  -webkit-transform: translateX(-20%) scale(0.95);
}

.fadeInRight {
  transform: translateX(20%) scale(0.95);
  -o-transform: translateX(20%) scale(0.95);
  -moz-transform: translateX(20%) scale(0.95);
  -ms-transform: translateX(20%) scale(0.95);
  -webkit-transform: translateX(20%) scale(0.95);
}

.animated.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
  -o-transform: translateX(0%) scale(1);
  -moz-transform: translateX(0%) scale(1);
  -ms-transform: translateX(0%) scale(1);
  -webkit-transform: translateX(0%) scale(1);
}

/* ------------------------------------- */
/* -------------- Services ------------- */
.services {
  margin: 10rem 0;
}

.service-content img {
  width: 130px;
  height: 130px;
}

.service-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.service-content p {
  height: 80px;
}

/* button */
.services button {
  margin-bottom: 2rem;
}

/* animation */
.fadeInUp {
  transform: translateY(20%) scale(0.8);
}

.animate-second {
  transition-delay: 0.2s;
}

.animate-third {
  transition-delay: 0.3s;
}

.animated.active {
  opacity: 1;
  transform: translateY(0%) scale(1);
}

/* ------------------------------------- */
/* --------------  Banner -------------- */
.banner {
  background-color: #cdd6d5;
  padding: 3rem;
  margin-bottom: 10rem;
}

.banner-content {
  display: flex;
}

.banner-title h2 {
  font-size: 4rem;
  margin-left: 2rem;
  padding: 0;
  width: 40rem;
}

.banner img {
  width: 200px;
  display: inline-block;
  margin-bottom: 2rem;
}

/* ------------------------------------- */
/* ----------- Testimonials ------------ */
.col-center {
  margin: 0 auto;
  float: none !important;
}

.carousel {
  padding: 0 70px;
}

.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}

.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview {
  font-style: italic;
  text-transform: uppercase;
  color: #7AA641;
}

.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel .carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 20px;
  height: 1px;
  margin: 1px 3px;
  border-radius: 50%;
}

.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.banner-highlight {
  font-family: 'Lobster', cursive;
  color: #ee5253;
}

/* ------------------------------------- */
/* -------------- Thumbnail ------------ */
.gallery {
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

.thumbnail {
  margin: 3rem;
}

.gallery .btn {
  padding: 10px 30px;
  width: auto;
  font-size: 1rem;
}

#pawprint1 {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  transform: rotate(20deg);
}

#pawprint2 {
  width: 30px;
  height: 30x;
  transform: rotate(20deg);
}

/* ------------------------------------- */
/* ------------- Contact Us ------------ */
:root {
  --success: #2ecc71;
  --error: #e74c3c;
}

.contact {
  box-shadow: 0 0 20px rgba(72, 94, 116, 0.7);
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.alert {
  text-align: center;
  background: #79c879;
  color: #fff;
  display: none;
}

.contact label {
  display: block;
  margin: 0;
}

.contact form {
  padding: 1rem 3rem 3rem 3rem;
}

.contact input:focus {
  outline-color: #333;
}

.form-group small {
  visibility: hidden;
  color: var(--error);
}

.form-group i {
  color: var(--error);
  margin-right: 2px;
  visibility: hidden;
}

/* error message */
.form-group.error input,
.form-group.error textarea {
  border-color: var(--error);
}

.form-group.error small,
.form-group.error i {
  visibility: visible;
}

/* success message */
.form-group.success input,
.form-group.success textarea {
  border-color: var(--success);
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
}

.contact h2 {
  margin-top: 2rem;
}

.contact ul {
  list-style: none;
  padding: 0 3rem;
  text-align: center;
}

.contact img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.contact li {
  font-size: 1.2rem;
}

.contact-form h2 {
  display: none;
}

.contact-form button {
  margin-top: 1rem;
}
/* submit - modal */


/* ------------------------------------- */
/* --------------- Footer -------------- */
.footer {
  background-color: rgba(205, 214, 213, 0.479);
  /* #fcf8f3; */
  padding-bottom: 2rem;
}

.footer-top {
  padding: 3rem 0 0 0;
  margin-bottom: 0;
}

.social-media {
  font-size: 1.3rem;
}

.footer a,
.navbar a {
  color: #000;
}

.footer hr {
  margin: 0 0 1rem 0;
}

.footer small {
  display: block;
  margin-bottom: 10px;
}

/* ------------------------------------- */
/* ------------- media query ----------- */
@media only screen and (min-width: 992px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .contact-info {
    margin-top: 2.4rem;
  }

  .contact-form h2 {
    display: block;
    margin-left: 3rem;
  }

  .contact-info h2 {
    display: none;
  }

}

@media only screen and (max-width : 1200px) {
  .showcase h3 {
    font-size: 1.6rem;
  }

  .highlight.cursive {
    font-size: 2.5rem;
  }

  .banner h2 {
    font-size: 2.5rem;
    padding: 0;
    width: auto;
    margin: 0 auto;
  }

  .banner-title {
    margin-top: 4rem;
  }

  .banner-content {
    margin: 0 auto;
    margin-top: 2rem;
  }


}

@media only screen and (max-width: 992px) {

  h1,
  h2,
  h3,
  p {
    text-align: center;
  }

  video {
    display: none !important;
  }

  .video-display {
    display: none;
  }

  .image-display img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .video-content {
    position: relative;
    margin: 6rem auto;
    text-align: center;
  }

  .showcase-img img {
    max-width: 100%;
  }

  .showcase button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .showcase2 .showcase-text {
    order: 1;
  }

  .showcase2 .showcase-img {
    order: 2;
  }

  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
  }

  .animate-second {
    transition-delay: 0;
  }

  .animate-third {
    transition-delay: 0;
  }

  .service-content p {
    height: 130px;
  }
}


@media only screen and (max-width: 766px) {
  .service-content p {
    height: auto;
  }

  .banner-title {
    margin-top: 4rem;
  }

  .image-display img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 540px) {

  .row.showcase1 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .footer-links {
    display: flex;
  }

  .footer-links:nth-child(2) {
    margin-top: 15px;
  }

  .footer-links small {
    margin-right: 10px;
    width: 100%;
  }
}